<%- include('partials/head') %>

<article class="campspace_widget">
  <section class="campspace_widget__image">
    <img src="/photo/busje.jpeg" 
    />
  </section>
  <section class="campspace_widget__info">
    <img
      class="campspace_widget__info_logo" src="/photo/campspace_logo-logo-green.png" alt="campspace logo"
    />
    <span class="campspace_widget__info_title"
      > ⚡️ Book Right away!
      </span
    >
   
      <a
        href="https://campspace.com/en/s/terug-naar-de-basis-natuurkampeerterrein-in-dranouter-heuvelland_5038?pitchTypeId=2846&"
      >
        <div class="campspace_widget__info_button">Book now</div>
      </a>
    </div>
  </section>
</article>

<%- include('partials/foot') %>
